@charset "utf-8";

section{margin:100px 0px;}
.inner{width:1200px;margin:0 auto}

#section1{margin-top:0px;display:flex;flex-wrap: nowrap;}
#section1 .nav li{margin-left:72px;margin-top:20px;font-size:2rem;font-weight:700;}
#section1 .nav li:hover{color:#ff585d}
#section1 .intro{width:calc(100% - 20%);margin-left:70px;}

#section2 .tit{font-weight:700;color:#ff585d;text-align: center;font-size:2rem;margin-bottom:50px;}
#section2 span{border:1px solid #ff585d;margin:0px 50%;}
#section2 .portpolio{display:flex;flex-wrap: nowrap;margin-top: 50px;}
#section2 .portpolio li{width:calc((100%-80px)/3);}
#section2 .portpolio li:nth-child(2){margin-top:600px;}
#section2 .portpolio li:nth-child(3){margin-top:150px;}
#section2 .portpolio h1{color:#ff585d;padding:10px 0px}
#section2 .portpolio .number{border-top:2px solid #ff585d;text-align:right;}
